<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <h1>A space for your inspirations</h1>
  <div class="new-in">
  <h3>New inspirations go here</h3>
  <Button class="btn" ng-click="upload()">Link a new inspiration</Button>

  <form action="" ng-submit="addPin($event)">
    <label for="">Name</label>
    <input type="text" ng-model="pinName" >
    <label for="">Link</label>
    <input type="text" ng-model="pinLink">
    <button>Save</button>
  </form>

</div>
</div>
